body {
  background-color: #282c34;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: #181717;
  height: 16vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  min-height: 100vh;
  background-color: rgb(237, 237, 237);
}

main {
  padding: 10px;
  height: 72vh;
  margin: 10vh 0 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

form {
  height: 10vh;
  position: relative;
  margin-top: -10;
  bottom: 0;
  background-color: rgb(250, 54, 90);
  width: 100%;
  max-width: 728px;
  display: table;
  font-size: 1.5rem;
}

form button {
  width: 20%;
  background-color: rgb(56, 56, 143);
}


input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

button {
  background-color: #282c34; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.sign-in {
  color: #282c34;
  background: rgb(255, 204, 84);
  width: 50%;
  margin: 5vh;

  border-radius: 3vh;
}

.login-input {
    margin: 2vh;
    color: rgb(255, 239, 239);
}

.login-label {
    color: rgb(46, 0, 53);
}

.login-form {
    margin-top: 20vh;
}


ul, li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
  background: rgb(214, 214, 214);
  border-radius: 2vh;
  margin: 2vh
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: rgb(255, 255, 255);
  background: #87ff87;
  float: right;
  text-align: end;
  max-width: fit-content;
}

.sentTitle {
    float: right;
}
.received p {
  background: #fffdcb;
  color: black;
  text-align: start;
  max-width: fit-content;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.sign-out {
    border-radius: 3vh;
}

.channel-selector {
    border-radius: 0vh;
}

.alert p {
    background: #e5e5ea;
    color: black;
    margin: 1vh 1vh 1vh
}